.card-title{
  color: #efecec;
}

.btn-primary{
  background-color: #2c2c2c;
  border-bottom-color: #2c2c2c;
}

.card-text{
  color: #efecec;
}

.card{
  background-color: #2c2c2c;
}

.hidden{
  display: none;
}

.aquamarine{
  background-color: #2c2c2c;
}
